{% if site.theme_settings.youtube and page.lang == 'en' %}
<li><a href="https://www.youtube.com/{{ site.theme_settings.youtube }}" title="YouTube channel is coming soon, be first to subscribe!" target="_blank">{% include icons/youtube.svg %}</a></li>
{% endif %}

{% if site.theme_settings.youtube_ru and page.lang == 'ru' %}
<li><a href="https://www.youtube.com/{{ site.theme_settings.youtube_ru }}" title="YouTube" target="_blank">{% include icons/youtube.svg %}</a></li>
{% endif %}

{% if site.theme_settings.telegram_ru and page.lang == 'ru' %}
<li><a href="https://t.me/{{ site.theme_settings.telegram_ru }}" title="Telegram" target="_blank">{% include icons/telegram.svg %}</a></li>
{% endif %}

<!-- {% if site.theme_settings.vk and page.lang == 'ru' %}
<li><a href="https://vk.com/{{ site.theme_settings.vk }}" title="VK" target="_blank">{% include icons/vk.svg %}</a></li>
{% endif %} -->

{% if site.theme_settings.email_address %}
<li>
 <a href="mailto:{{ site.theme_settings.email_address }}" title="{{ page.str.email }}" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-envelope fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.behance %}
<li>
 <a href="https://www.behance.net/{{ site.theme_settings.behance }}" title="Behance" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-behance fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.bitbucket %}
<li>
 <a href="https://bitbucket.org/{{ site.theme_settings.bitbucket }}" title="Bitbucket" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-bitbucket fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.dribbble %}
<li>
 <a href="https://dribbble.com/{{ site.theme_settings.dribbble }}" title="Dribbble" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-dribbble fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

<!-- {% if site.theme_settings.facebook and page.lang == 'ru' %}
<li><a href="https://www.facebook.com/{{ site.theme_settings.facebook }}" title="FB" target="_blank">{% include icons/facebook.svg %}</a></li>
{% endif %} -->

{% if site.theme_settings.flickr %}
<li>
 <a href="https://www.flickr.com/photos/{{ site.theme_settings.flickr }}" title="Flickr" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-flickr fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.nostr %}
<li><a href="https://coracle.social/people/{{ site.theme_settings.nostr.nprofile }}" title="Nostr" target="_blank">{% include icons/nostr.svg %}</a></li>
{% endif %}

{% if site.theme_settings.github %}
<li>
 <a href="https://github.com/{{ site.theme_settings.github }}" title="GitHub" target="_blank">{% include icons/github.svg %}</a>
</li>
{% endif %}

{% if site.theme_settings.instagram %}
<li>
 <a href="http://instagram.com/{{ site.theme_settings.instagram }}" title="Instagram" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.keybase %}
<li>
 <a href="https://keybase.io/{{ site.theme_settings.keybase }}" title="Keybase" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-key fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.pinterest %}
<li>
 <a href="http://www.pinterest.com/{{ site.theme_settings.pinterest }}" title="Pinterest" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-pinterest fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.soundcloud %}
<li>
 <a href="https://soundcloud.com/{{ site.theme_settings.soundcloud }}" title="SoundCloud" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-soundcloud fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.stack_exchange %}
<li>
 <a href="{{ site.theme_settings.stack_exchange }}" title="Stack Exchange" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-stack-exchange fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.steam %}
<li>
 <a href="http://steamcommunity.com/id/{{ site.theme_settings.steam }}" title="Steam" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.tumblr %}
<li>
 <a href="http://{{ site.theme_settings.tumblr }}.tumblr.com/" title="Tumblr" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-tumblr fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.gitlab %}
<li>
 <a href="https://gitlab.com/{{ site.theme_settings.gitlab }}" title="Gitlab" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.twitter and page.lang != 'ru' %}
<li><a href="https://x.com/{{ site.theme_settings.twitter }}" title="Twitter" target="_blank">{% include icons/twitter.svg %}</a></li>
{% endif %}

{% if site.theme_settings.reddit and page.lang != 'ru' %}
<li><a href="https://www.reddit.com/user/{{ site.theme_settings.reddit }}" title="Reddit" target="_blank">{% include icons/reddit.svg %}</a></li>
{% endif %}

{% if site.theme_settings.vimeo %}
<li>
 <a href="https://vimeo.com/{{ site.theme_settings.vimeo }}" title="Vimeo" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-vimeo fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

{% if site.theme_settings.wordpress %}
<li>
 <a href="https://{{ site.theme_settings.wordpress }}.wordpress.com/" title="WordPress" target="_blank">
  <span class="fa-stack fa-lg">
   <i class="fas fa-circle fa-stack-2x"></i>
   <i class="fab fa-wordpress fa-stack-1x fa-inverse"></i>
  </span>
 </a>
</li>
{% endif %}

<!-- {% if site.theme_settings.linkedin and page.lang != 'ru' %}
<li>
 <a href="https://www.linkedin.com/in/{{ site.theme_settings.linkedin }}" title="LinkedIn" target="_blank">
   {% include icons/linkedin.svg %}
 </a>
</li>
{% endif %} -->

<!-- {% if site.theme_settings.patreon %}
<li><a href="https://www.patreon.com/{{ site.theme_settings.patreon }}" title="Patreon" target="_blank">{% include icons/patreon.svg %}</a></li>
{% endif %} -->

<li><a href="{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}/feed.xml" title="RSS" target="_blank">{% include icons/feed.svg %}</a></li>
