<script>
{
 const url = new URL(window.location.href);
 if (url.hostname.endsWith('codonaft.com') && url.protocol === 'http:') {
  window.stop();
  document.documentElement.style.display = 'none';
  url.protocol = 'https:';
  window.location = url;
 } else if (url.hostname.includes('.b32.i2p')) {
  window.stop();
  document.documentElement.style.display = 'none';
  url.hostname = url.hostname.replace(/(.*\.|)(.*?)\.b32\.(i2p.*)$/, '$1codonaft.$3');
  url.port = '';
  window.location = url;
 }
}
</script>
