{% if include.stream_url %}
 {% assign stream_url = include.stream_url %}
{% else %}
 {% if include.id %}
 {% assign video_id = include.id %}
 {% else %}
 {% assign video_id = page.permalink | split: '/' | last %}
 {% endif %}

 {% assign stream_url_prefix = site.theme_settings.p2p_player.media_urls[0] | append: '/' | append: video_id %}
 {% assign stream_url = stream_url_prefix | append: "/main.m3u8" %}
 {% assign thumbnail_url = stream_url_prefix | append: "/thumbnail.webp" %}
{% endif %}

<p style="text-align: center">
 <div class="p2p-player-container">
  <media-player
   src="{{ stream_url }}"
   {% if include.duration %}duration="{{ include.duration }}"{% endif %}
   playsInline
   preload="auto"
   load="eager"
   posterLoad="eager"
   storage="storage-key">

   <media-provider>
    <media-poster
     class="vds-poster"
     src="{{ thumbnail_url }}"
     alt="{% if include.title %}{{ include.title | strip_html }}{% else %}{{ page.title | strip_html }}{% endif %}"
    ></media-poster>
{% assign subtitles = include.subtitles | split: "," %}
{% for i in subtitles %}
{% assign subtitles_url = stream_url_prefix | append: "/" | append: i | append: ".vtt" %}
    <track src="{{ subtitles_url }}" label="{{ i }}" language="{{ i }}" kind="subtitles" type="vtt" default />
{% endfor %}
   </media-provider>
   <media-video-layout></media-video-layout>
  </media-player>
 </div>
{% if site.theme_settings.upstream_url %}
{% assign domain = site.url | split: '.' | last %}
 <div class="p2p-player-warning">⚠️ {{ page.str.p2p_player_warning }} {% if domain == 'i2p' %}<a href="{{ page.url | prepend: site.theme_settings.tor }}" target="_blank">tor</a> | {% endif %}<a href="{{ page.url | prepend: site.theme_settings.upstream_url }}" target="_blank">clearnet</a></div>
{% endif %}
{% if include.chapters %}
 <div class="p2p-player-chapters">
{{ include.chapters | strip | newline_to_br }}
 </div>
{% endif %}
{% if include.description %}
 <div class="p2p-player-description">
{{ include.description | strip | markdownify }}
 </div>
{% endif %}
 <noscript>Please enable JavaScript to play video</noscript>
</p>
