<p style="text-align: center">
 <!-- TODO div class="webtorrent-video-container" style="text-align: center; max-width: 100%; margin: auto" -->
 <div class="webtorrent-video-container" style="text-align: center; max-width: 80%; margin: auto">
  <media-player src="https://media.codonaft.com/CB9bS46vl04/playlist.m3u8" playsInline preload="auto" posterLoad="eager" storage="storage-key">
   <media-provider>
    <media-poster
     class="vds-poster"
     src="https://img.youtube.com/vi/CB9bS46vl04/maxresdefault.jpg"
     alt="Алгоритмы и структуры данных простыми словами. Зачем осваивать алгоритмы? #codonaft"
    />
   </media-provider>
   <media-video-layout></media-video-layout>
  </media-player>
 </div>
 <noscript>Please enable JavaScript to play video</noscript>
</p>
