.grid {
  padding-bottom: 6%;
  padding-top: 1%;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.grid-sizer,
.grid-item {
  width: 32.6%;
}

.grid-item {
  float: left;
  border-radius: 5px;

  img {
    display: block;
    max-width: 100%;
    min-height: 30%;
  }
}

.gutter-sizer {
  width: 1%;
}

.grid-item:first-of-type {
  margin: 0;
}

.grid-item {
  margin-bottom: 1%;
}

.donation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.8rem;
  //padding-top: 3rem;

  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
  }

  .grid-item {
    text-align: center;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;

    code {
      font-size: 0.9rem;
      line-height: 1.7;
    }

    a:hover {
      svg {
        filter: brightness(115%);
      }
    }
  }
}

@media (max-width: 700px) {
  .donation-container {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 4rem;
    }
    .grid-item {
      code {
        font-size: 0.9rem;
        line-height: 1;
      }
    }
  }
}

@media (min-width: 1200px) {
  .donation-container {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }
    .grid-item {
      code {
        font-size: 1rem;
        line-height: 1;
      }
    }
  }
}
