.vds-video-layout {
  --media-brand: #{$theme-color};
  --font-family: #{$font-family-main};
  --media-font-family: #{$font-family-main};
  --media-user-font-family: #{$font-family-main};
  --video-font-family: #{$font-family-main};

  --video-load-button-bg: #{$theme-color};
  --video-load-button-color: #{$theme-color};
  --media-menu-font-weight: 600;
  --media-menu-hint-font-weight: 600;
  --text-hint-color: black;
}

:where(.vds-video-layout .vds-button):hover {
  //--media-controls-color: black;
  --media-button-hover-bg: #{$theme-color};
}

.vds-menu-items {
  transition: height 0.04s ease;
  --color-gray-300: rgba(white, 0);
  //--item-hover-bg: #{$theme-color};
  //--item-hover-bg: #{lighten($theme-color, 50%)};
  --default-inverse: #{$theme-color} !important;
}

/*.vds-radio[aria-checked="true"] .vds-icon {
  margin-left: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .vds-menu-item[data-hocus],
  .vds-radio[data-hocus] :where(.vds-icon, .vds-radio-label),
  .vds-menu-item[data-hocus] :where(.vds-menu-item-hint, .vds-menu-open-icon, .vds-radio-hint, .vds-menu-item, .vds-radio),
  {
    color: white;
    //fill: white;
  }
}*/

.vds-menu-items[data-root][aria-hidden='true'] {
  animation: var(--media-menu-exit-animation, vds-menu-exit 0.025s ease-out);
}

.vds-menu-items[data-root][aria-hidden='false'] {
  animation: var(--media-menu-enter-animation, vds-menu-enter 0.0375s ease-out);
  animation-fill-mode: forwards;
}

.vds-tooltip-content:not([data-visible]) {
  animation: var(--media-tooltip-exit-animation, vds-tooltip-exit 0.05s ease-out);
}

.vds-tooltip-content[data-visible] {
  animation: var(--media-tooltip-enter-animation, vds-tooltip-enter 0.05s ease-in);
  animation-fill-mode: forwards;
}

.vds-tooltip-content {
  --default-color: #f5f5f5 !important;
  --default-bg: black !important;
  --default-border: 1px solid rgb(255 255 255 / 0.1) !important;
}

.vds-volume-slider {
  margin-left: 4px;
}
