.share-buttons .meta {
  text-align: center;
  margin: 0;
  padding-top: $padding-x-small/2;
}

ul.share-buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-top: $padding-x-small/2;
  padding-bottom: $padding-x-small/2;
  margin: 0;
  text-align: center;

  li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (max-width: $break) {
      padding-left: $padding-x-small / 2;
      padding-right: $padding-x-small / 2;
    }

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor;
    }

    a:hover {
      text-decoration: none;
    }

    a.pulsate {
      animation: none;
    }

    a.pulsate:hover {
      position: relative;
      animation: pulse 0.5s infinite alternate;
    }

    a.large {
      svg {
        width: 3.8rem !important;
        height: 3.8rem !important;
      }
    }
  }
  .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

@keyframes pulse {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
