{% include html.html %}
{% if page.origin-url %}
{% assign origin_url = page.origin-url %}
{% endif %}
{% if page.origin-nostr-tag %}
{% assign origin_url = "https://primal.net/search/kind%3A1%20%23" | append: page.origin-nostr-tag | append: "%20%20from%3A" | append: site.theme_settings.nostr.nprofile %}
{% endif %}
{% if page.origin-nostr-naddr %}
{% assign origin_url = site.theme_settings.nostr.naddr_client | append: "/" | append: page.origin-nostr-naddr %}
{% endif %}
{% if page.origin-nostr-nevent %}
{% assign origin_url = site.theme_settings.nostr.nevent_client | append: "/" | append: page.origin-nostr-nevent %}
{% endif %}
<head>
  <noscript>
    <style>html { display: none; }</style>
    <meta http-equiv="refresh" content="0; URL='{{ origin_url }}'" />
    <link rel="canonical" href="{{ origin_url }}" />
  </noscript>
  <script type="text/javascript">window.stop(); window.location = "{{ origin_url }}";</script>
</head>
</html>
